<%- include('../partials/header') %>
	<% errors.forEach((error)=> { %>
		<div class="alert alert-danger">
			<%=error.text%>
		</div>
		<% }) %>
			<h1>Cadastrar conta</h1>
			<form action="/usuario/registro" method="post">
				<div class="card">
					<div class="card-body">
						<label for="name" class="form-label">Nome: </label>
						<input type="text" id="name" name="name" class="form-control">

						<label for="email" class="form-label" class="form-label">Email: </label>
						<input type="text" id="email" name="email" class="form-control">

						<label for="password" class="form-label">Senha: </label>
						<input type="text" id="password" name="password" class="form-control">

						<label for="password2" class="form-label">Digite a senha novamente: </label>
						<input type="text" id="password2" name="password2" class="form-control">

						<button type="submit" class="btn btn-primary mt-4">Cadastrar</button>
					</div>
				</div>

			</form>
			<%- include('../partials/footer') %>